
$mobile-size: 800px;
.parent-container{
    flex: 1 1 auto;
    box-sizing: border-box;
    height: calc(100vh - 80px);
}
md-sidenav {
  width: 320px;
}

.detail-container {
  position: absolute;
  margin-left: 320px;
  // padding: 12px;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  height: calc(100vh - 80px);
  width: calc(100vw - 320px);
}


@media all and (max-width: $mobile-size) {
  md-sidenav{
      width: 100vw;
  }
  .detail-container {
    margin-left: 0px;
    width: 100%
  }
}