<div *ngIf="post">
    <md-card class='post-content'>
        <div class="back-button">     
            <a md-raised-button routerLink="../">Back</a>
        </div>
        <div class="content">
            <md-card-subtitle>
                User ID: {{post.userId}}
            </md-card-subtitle>
            <md-card-subtitle>
                Post ID: {{post.id}}
            </md-card-subtitle>
            <md-card-content>
                {{post.body}}
            </md-card-content>
        </div>
    </md-card>
</div>